<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WinPie.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <WinPie.Properties.Settings>
            <setting name="zoomFactor" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="windowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="formSize" serializeAs="String">
                <value>516, 387</value>
            </setting>
            <setting name="tabSelectedIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="splitterDistanceRatio" serializeAs="String">
                <value>0.75</value>
            </setting>
        </WinPie.Properties.Settings>
    </userSettings>
</configuration>
